<!--사이드바-->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사이드 바 만들기</title>

</head>


<body>
<th:block th:fragment="sidebarFragment">
<div class="left-side-bar" id="sidebar" layout:fragment = "sidebar">
    <div class="status-ico">
        <span>▶</span>
        <span>▼</span>
    </div>
    <ul>
        <li><a href="/admin/AdminManage">관리자 관리</a></li>
        <li><a href="/admin/UserManage">회원관리</a></li>
        <li><a href="/admin/RecipeManage">레시피 관리</a></li>
        <li><a href="/admin/AdminRecipe">관리자 레시피</a></li>
        <li><a href="/admin/UserRecipe">유저 레시피</a></li>
        <li><a href="/admin/Q&A">문의 답변 관리</a></li>
    </ul>

</div>
</th:block>
</body>
</html>
