.idea
.vscode
/backend/.gradle/
/.idea/
/backend/.idea/
/backend/build/
.idea/GW_project.iml
.DS_Store


/backend/.gradle/file-system.probe
/backend/.gradle/7.3.2/executionHistory/executionHistory.bin
/backend/.gradle/7.3.2/executionHistory/executionHistory.lock
/backend/.gradle/file-system.probe
/backend/.gradle/7.3.2/fileHashes/fileHashes.bin
/backend/.gradle/7.3.2/fileHashes/fileHashes.lock
/backend/build/tmp/compileJava/previous-compilation-data.bin
/backend/.gradle/buildOutputCleanup/outputFiles.bin
/backend/.gradle/buildOutputCleanup/cache.properties
/backend/src/main/resources/application-mysql.properties
/backend/build/resources/main/application.properties
/backend/build/resources/main/application-mysql.properties
/backend/build/resources/firebase/recipe-refrigerator-firebase-adminsdk-lx8r4-de0017b4cb.json
