<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/css/Login.css" type="text/css" media="all" />
    <script src="" type="text/javascript"></script>
</head>
<body>
<div id="container" class="main_container">
    <div style="padding: 20px;"></div>
    <div class="login_container">
        <div class="form_container">
            <form name="login_form" action="" method="get">
                <div class="form_title_div">
                    <p class="form_title_p">관리자페이지</p>
                </div>
                <div>
                    <div>
                        <a class="form_item_name">관리자 아이디</a>
                    </div>
                    <div>
                        <input type="text" name="username" placeholder="name" class="form_input"/>
                    </div>
                    <div class="form_text_alert_padding">
                        <div id="alert_username" class="form_text_alert"></div>
                    </div>
                </div>

                <div>
                    <div>
                        <a class="form_item_name">비밀번호</a>
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Enter password" class="form_input" />
                    </div>
                    <div class="form_text_alert_padding">
                        <div id="alert_password" class="form_text_alert"></div>
                    </div>
                </div>
                <div>
                    <div>
                        <a class="form_item_name">비밀번호 확인</a>
                    </div>
                    <div>
                        <input type="password" name="password2" onfocus="" placeholder="Enter password again" class="form_input" />
                    </div>
                    <div class="form_text_alert_padding">
                        <div id="alert_password2" class="form_text_alert"></div>
                    </div>
                </div>
                <div style="height: 10px;"></div>
                <div>
                    <button type="button" class="form_submit_button" onclick="login()">로그인</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
