<!--기본 레이아웃탭-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<header><!-- 공통 헤더-->
</header>

<body>
    <!--<th:block th:replace="fragments/head :: headFragment"></th:block>-->
    <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
    <th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
    <th:block layout:fragment="content"></th:block>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>
</html>