<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>AdminManage</title>
</head>
<body>
<form th:action="@{}" th:object="${}" method="post">

<div layout:fragment = "content" >
    <div class = "content">
        <span th:text="${admins}"></span><br>

        <table border="1" class="blueone">
            <th>id</th>
            <th>admin_email</th>
            <th>role</th>
            <th>button</th>

            <tr th:each = "data : ${admins}">
                <td th:text="${data.id}"></td>
                <td th:text="${data.email}"></td>
                <td th:text="${data.roles}"></td>
                <td>
                    <form th:action="@{'/admin/AdminManage/id'+ ${data.id} + '/delete'}" method= "post">
                        <button type = delete value="삭제">삭제</button>
                    </form>
                </td>
            </tr>
        </table>


    </div>
</div>
</form>
    <!--회원관리테이블-->
</body>
</html>
