<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>AdminManage</title>
</head>
<body>
<div layout:fragment = "content" >
    <div class = "content">
        <span th:text="${admins}"></span><br>

        <table border="1" class="blueone">
            <th>id</th>
            <th>admin_email</th>
            <th>role</th>
            <th>button</th>

            <tr th:each = "data : ${admins}">
                <td th:text="${data.id}"></td>
                <td th:text="${data.email}"></td>
                <td th:text="${data.roles}"></td>
                <td>
                    <button onclick="location.href=''">삭제</button>
                    <button onclick="location.href=''">수정</button>
                </td>
            </tr>
        </table>


    </div>
</div>
    <!--회원관리테이블-->
</body>
</html>
