<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>AdminRecipe</title>
</head>
<body>

<div layout:fragment = "content" >
    <div class = "content">
        <span th:text="${AdminRecipe}"></span><br>

        <table border="1" class="blueone">
            <th>admin_id</th>
            <th>recipe_name</th>
            <th>recipe_img</th>
            <th>recipe_view</th>
            <th>recipe_star</th>

            <tr th:each = "data : ${AdminRecipe}">
                <td th:text="${data.id}"></td>
                <!--<td>
                    <a th:text="${data.}" th:href="@{/freepostpage/read/{id}(id=${data.id})}"></a>
                </td>-->
                <td th:text="${data.recipeName}"></td>
                <td th:text="${data.recipeImg}"></td>
                <td th:text="${data.views}"></td>
                <td th:text="${data.stars}"></td>

            </tr>
        </table>


    </div>
</div>
</body>
</html>