<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>

</head>

<body>

    <form th:action ="" method="get">
    <h5>고객질문</h5>
        <tr>
            <th>고객</th>
            <td>
                <div>
                    <input type="text" name="name" value="" placeholder=이름 />
                    <span th:text="${data.id}"></span>
                </div>
            </td>

            <th>제목</th>
            <td>
                <div>
                    <input type="text" name="title" value="" placeholder=제목 />
                    <span th:text="${data.title}"></span>
                </div>
            </td>

            <th>이메일</th>
            <td>
                <div>
                    <input type="text" name="email" value="" placeholder=이메일 />
                    <span th:text="${data.email}"></span>
                </div>
            </td>

        </tr>

        <tr>
            <th>내용</th>
            <td colspan="3">
                <div>
                    <textarea name="comment"  placeholder=내용></textarea>
                    <span th:text="${data.content}"></span>
                </div>
            </td>
        </tr>
    </form>

    <form th:action ="" method="post">
    <tr>
        <th>답변</th>
        <td colspan="3">
            <div>
                <textarea name="answer"  placeholder=답변></textarea>

            </div>
        </td>
    </tr>

        <tr>
            <button type="submit" value="답변 완료"></button>
        </tr>
    </form>

</body>
</html>
