<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>

</head>

<body>
<div layout:fragment = "content" >
    <div class ="content">
    <h5>고객질문</h5>
        <tr>
            <th>고객</th>
            <td>
                <div>
                    <span th:text="${data.id}"></span>
                </div>
            </td>

            <th>제목</th>
            <td>
                <div>

                    <span th:text="${data.title}"></span>
                </div>
            </td>

            <th>이메일</th>
            <td>
                <div>

                    <span th:text="${data.email}"></span>
                </div>
            </td>

        </tr>

        <tr>
            <th>내용</th>
            <td colspan="3">
                <div>

                    <span th:text="${data.content}"></span>
                </div>
            </td>
        </tr>


    <form th:action ="@{'/admin/answerPage/id' + ${data.id} +  '/submit'}" method="post">
    <tr>
        <th>답변</th>
        <td colspan="3">
            <div>
                <input name="answer" type="text" th:placeholder= "${data.answer}" th:name = "answer"/>

            </div>
        </td>
    </tr>

        <tr>
            <button type="submit" value="답변 완료">답변 완료</button>
        </tr>
    </form>
    </div>
</div>

</body>
</html>
