<!--본문탭-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

    <th:block layout:fragment="head">
        <title>Spring Boot</title>
        <!--/* css */-->
        <link th:href="@{/css/HomeStyle.css}" rel="stylesheet" />
    </th:block>

    <body>
        <th:block layout:fragment="topbar" th:include="@{/fragments/topbar}"></th:block>

        <div layout:fragment="content" class="content">
            <h2>This is Content</h2>
        </div>

        <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
    </body>

</html>
