<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymleaf/layout"
    layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>

</head>

<body>

<div layout:fragment = "content" >
    <div class = "content">
        <table class="blueone">
            <tr>
                <th>id</th>
                <th>관리자 번호</th>
                <th>관리자 별칭</th>
                <th>관리자 별칭</th>
                <th>관리자 별칭</th>
            </tr>

            <tr>
                <td>*******</td>
                <td>*******</td>
                <td>*******</td>
                <td>*******</td>
                <td>*******</td>
            </tr>

            <tr>
                <td>*******</td>
                <td>*******</td>
                <td>*******</td>
                <td>*******</td>
                <td>*******</td>
            </tr>

            <tr>
                <td>*******</td>
                <td>*******</td>
                <td>*******</td>
                <td>*******</td>
                <td>*******</td>
            </tr>

        </table>
    </div>
</div>


</body>
</html>
