<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>Q&A</title>
</head>
<body>

<div layout:fragment = "content" >
    <div class = "content">
        <table class="blueone">
            <tr>
                <th>유저</th>
                <th>시간</th>
            </tr>

            <tr>
                <td>*******</td>
                <td>*******</td>

            </tr>

        </table>
    </div>
</div>


</body>
</html>