<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>Q&A</title>
</head>
<body>

<div layout:fragment = "content" >
    <div class = "content">
        <table class="blueone">
            <span th:text="${QA}"></span><br>

            <table border="1" class="blueone">
                <th>user_id</th>
                <th>user_email</th>
                <th>user_title</th>
                <th>user_content</th>
                <th>user_answer</th>
                <th>button</th>


                <tr th:each = "data : ${QA}">
                    <td th:text="${data.id}"></td>
                    <td th:text="${data.email}"></td>
                    <td th:text="${data.title}"></td>
                    <td th:text="${data.content}"></td>
                    <td th:text="${data.answer}"></td>
                    <td>
                        <button th:onclick="'location.href=\''+ '/admin/answerPage/id'+@{${data.id}} + '\''">답변하기</button>

                        <button type="button" onclick="location.href=''">수정</button>
                            <button type="button" onclick="location.href=''">삭제</button>

                    </td>

                </tr>
            </table>
        </table>
    </div>
</div>


</body>
</html>
