<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>UpdateUser</title>

</head>

<body>
<div layout:fragment = "content" >
    <div class ="content">
        <h5>수정</h5>
        <tr>
            <th>ID</th>
            <td>
                <div>
                    <span th:text="${data.id}"></span>
                    <input name="id" type="text" th:placeholder= "${data.id}" th:name = "id"/>
                </div>
            </td>

            <th>email</th>
            <td>
                <div>
                    <span th:text="${data.email}"></span>
                    <input name="email" type="text" th:placeholder= "${data.email}" th:name = "email"/>
                </div>
            </td>

        </tr>

        <form th:action ="@{}" method="post">
            <tr>
                <th>답변</th>
                <td colspan="3">
                    <div>
                        <input name="answer" type="text" th:placeholder= "${data.answer}" th:name = "answer"/>

                    </div>
                </td>
            </tr>

            <tr>
                <button type="submit" value="답변 완료">답변 완료</button>
            </tr>
        </form>
    </div>
</div>

</body>
</html>
