<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>UserManage</title>
</head>
<body>
<div layout:fragment = "content" >
    <div class = "content">
        <span th:text="${user}"></span><br>

        <table border="1" class="blueone">
            <th>id</th>
            <th>user_email</th>
            <th>role</th>
            <th>button</th>

            <tr th:each = "data : ${user}">
                <td th:text="${data.id}"></td>
                <td th:text="${data.email}"></td>
                <td th:text="${data.roles}"></td>
                <td>
                    <button th:onclick="'location.href=\''+ '/UserManage/UpdateUser/id'+@{${data.id}} + '\''">수정</button>
                    </form>

                    <form th:action="@{'/admin/UserManage/id'+ ${data.id} + '/delete'}" method= "post">
                    <button type = delete value="삭제">삭제</button>
                    </form>
                        <!-- <button th:onclick="'location.href=\''+'/admin/UserManage/id'+@{${data.id}} + '/delete''">삭제</button>-->
                </td>

            </tr>
        </table>


    </div>
</body>
</html>